<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>What's the weather like?</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <link rel="stylesheet" href="static/index.css" />
</head>
<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          What is the weather like?
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}

            <li{%if message.tags%} class="{{ message.tags }}" {% endif %}>{{ message }}</li>

        {% endfor %}
      </ul>
    {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <form method="post">
            {% csrf_token %}
            <div class="field has-addons">
              <div class="control is-expanded">
                {{ form.name }}
              </div>
              <div class="control">
                <button class="button is-info">
                  Enter City
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    {% if city_info %}

    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-50x50">
                  <img src='https://flagcdn.com/56x42/{{city_info.country|lower}}.png' width="56" height="42" alt="{{ city_info.country}} Flag">
                </figure>
              </div>
              <div class="media content">
                <div class="content">
                  <p>
                    <span class="title">{{ city_info.name|title }}</span>
                    <br>
                    <span class="subtitle">country {{ city_info.country }}</span>
                    <p id="local_time_p"> local time:</p>
                    <div id="local-time"></div>

                    <br> Sunrise: {{ city_info.sunrise }}
                    <br> Sunset: {{ city_info.sunset }}
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </section>

  <section class="section">
    {% if weather %}

      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <div class="media content">
              <div class="content">
                <p>
                  <span class="title">Forecast for 5 days</span>
                <p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% for item in weather %}
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-50x50">
                  <img src="http://openweathermap.org/img/w/{{ item.icon }}.png" alt="Image">
                </figure>
              </div>
              <div class="media content">
                <div class="content">
                  <p>
                    <span class="subtitle">{{ item.day }}</span>
                    <br>
                    <span class="subtitle">{{item.temperature|floatformat:"0" }}° C</span>
                    <br> {{ item.description }}
                    <br>
                    <br> Humidity: {{ item.humidity }}%
                    <br> Wind speed: {{ item.wind_speed }}meter/sec
                    <br> Wind gust: {{ item.wind_gust }}meter/sec
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    {% endif %}
  </section>

  {% if city_info %}
  <script type="text/javascript">

    function zero_first_format(value){
      if (value < 10){
        value= '0' + value;
      }
      return value;
    }

    function format_24_hours(value){
    if (value > 23){
      value = value - 24;
      } else if (value < 0){
      value = 24 + value;
      }
      return value;
    }

    function date_time()
    {
      var local_date_time = new Date()

      var hours = zero_first_format(format_24_hours(local_date_time.getUTCHours()+{{ city_info.timezone }}));
      var minutes = zero_first_format(local_date_time.getUTCMinutes());
      var seconds = zero_first_format(local_date_time.getUTCSeconds());

      return hours+':'+minutes+':'+seconds;
    }

    setInterval(function () {
        document.getElementById('local-time').innerHTML = date_time();
    }, 1000);
  </script>
  {% endif %}

  <footer class="footer">
    <span class="footter_span"> CopyRights &#169 2023 GD </span>
  </footer>
</body>
</html>