<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>What's the weather like?</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <link rel="stylesheet" href="static/index.css" />
</head>
<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          What is the weather like?
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <form method="post">
            {% csrf_token %}
            <div class="field has-addons">
              <div class="control is-expanded">
                {{ form.name }}
              </div>
              <div class="control">
                <button class="button is-info">
                  Enter City
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    {% if city_info %}
    <img src='https://countryflagsapi.com/png/{{city_info.country}}' alt="{{ city_info.country}} Flag">

    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-50x50">
                  <img src="http://countryflagsapi.com/png/{{city_info.country|lower}}/" alt="{{ city_info.country|lower }} Flag">
                </figure>
              </div>
              <div class="media content">
                <div class="content">
                  <p>
                    <span class="title">{{ city_info.name }}</span>
                    <br>
                    <span class="subtitle">country {{ city_info.country }}</span>

                    <br> timezone {{ city_info.timezone }} UTC
                    <br> Sunrise {{ city_info.sunrise }}
                    <br> Sunset {{ city_info.sunset }}
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </section>

  <section class="section">
    {% if weather %}

      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <div class="media content">
              <div class="content">
                <p>
                  <span class="title">Forecast for 5 days</span>
                <p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% for item in weather %}
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-50x50">
                  <img src="http://openweathermap.org/img/w/{{ item.icon }}.png" alt="Image">
                </figure>
              </div>
              <div class="media content">
                <div class="content">
                  <p>
                    <span class="subtitle">{{ item.day }}</span>
                    <br>
                    <span class="subtitle">{{item.temperature|floatformat:"0" }}° C</span>
                    <br> {{ item.description }}
                    <br> humidity {{ item.humidity }}
                    <br> wind_speed {{ item.wind_speed }}
                    <br> wind_gust {{ item.wind_gust }}
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    {% endif %}
  </section>

  <footer class="footer">
    <span class="footter_span"> CopyRights &#169 2023 GD </span>
  </footer>
</body>
</html>